<%- include("partials/header.ejs") %>
    <main class="container">
        <div class="row center card-container">

            <%- include("partials/form-card.ejs") %>
            <%- include("partials/response-card.ejs") %>

        </div>